<section class="collab">
  <a class="collab--logo" href="https://www.copcisa.com">
    <%= image_tag "COPCISA.svg", class:"collab--logo-img" %>
  </a>

  <a class="collab--logo" href="https://www.accgroup.com">
    <%= image_tag "ACC.png", class:"collab--logo-img" %>
  </a>

  <a class="collab--logo" href="https://www.eiffageinfraestructuras.es/es/">
    <%= image_tag "EFFIAGE.png", class:"collab--logo-img" %>
  </a>

  <a class="collab--logo" href="https://www.grupoelektra.es">
    <%= image_tag "ELECTRA.png", class:"collab--logo-img" %>
  </a>

  <a class="collab--logo" href="https://www.sampol.com">
    <%= image_tag "SAMPOL.png", class:"collab--logo-img" %>
  </a>

  <a class="collab--logo" href="https://NASA-group.com">
    <%= image_tag "NASA.png", class:"collab--logo-img" %>
  </a>

  <a class="collab--logo" href="https://www.copasagroup.com/es/inicio/">
    <%= image_tag "COPASA.png", class:"collab--logo-img" %>
  </a>
</section>
