<nav class="nav">
  <ul class="nav--ul">
    <div class="hero--logo-container">
      <a href="#" class="hero--logo">
        <%= image_tag "imperduro-t.png", loading: "lazy", class: "hero--logo-img"%>
      </a>
    </div>
    <div class="nav--links">
      <li class="nav--li">
        <%= link_to "INICIO", root_path, class:"nav--a nav-pro" %>
      </li>
      <li class="nav--li">
        <%= link_to 'INFORMACIÓN', "#{root_path}#section-info", class:"nav--a nav-info" %>
      </li>
      <li class="nav--li">
        <%= link_to "PRODUCTOS", products_path, class:"nav--a nav-pro" %>
      </li>
      <li class="nav--li">
        <%= link_to 'CONTACTO', "#footer", class:"nav--a nav-info" %>
      </li>
    </div>
  </ul>
</nav>
