<section class="section-product-index pb-5">
  <div class="container pb-5">
    <h2 class="secondary-heading">PRODUCTOS</h2>
    <h3 class="tirtuary-heading">Productos disponibles para envío masivo.</h3>
    <div class="product">
      <% @products.each do |product|%>
        <div class="product-card">
          <div class="product-card-body">
            <div class="product-card-top">
              <div class="product-card-img-capsul">
                <%= image_tag product.image_url, loading: "lazy", class: "product-card-img" %>
              </div>
              <div class="product-textbox">
                <%= link_to product.name , product, class:"product-card-title" %>
                <p class="product-card-text mb-3"><%= product.description %>...</p>
              </div>
            </div>
            <div class="product-price-container">
              <% if product.price %>
                <p class="product-price">€ <%= product.price %> <span>(después de impuestos)</span></p>
              <% else %>
                <p class="product-price-no">Precio actualmente no disponible</p>
              <% end %>
            </div>
            <%= link_to "Mas detalles", product, class:"btn btn-danger w-100 product-path" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
