
<section class="section-product">
  <div class="main-info container">
      <%= image_tag @product.image_url, loading: "lazy", class:"product-image" %>


    <div>
      <h2 class="secondary-heading"><%= @product.name %></h2>
      <p class="product-description"><%= @product.description %></p>
      <div class="logos">
        <%= image_tag "ce.png", class:"quality-logos ce" %>
        <%= image_tag "acs.png", class:"quality-logos" %>
        <%= image_tag "kiwa-ata.png", class:"quality-logos" %>
      </div>
      <div class="product-price-container">
        <% if @product.price %>
          <p class="show-product-price">€ <%= @product.price %> <span>(después de impuestos)</span></p>
        <% else %>
          <p class="show-product-price">Precio actualmente no disponible</p>
        <% end %>
        <p class="show-product-price-det">Nuestra estructura de precios está diseñada específicamente para atender pedidos al por mayor, garantizando que a medida que aumenten tus cantidades, tus costos disminuyan significativamente. Ya sea que estés emprendiendo un gran proyecto de construcción, organizando un evento masivo o abasteciéndote para operaciones continuas, nuestro modelo de precios adaptado asegura que obtengas el mejor valor por tu inversión.
<br><br>
Además, ofrecemos opciones de empaque flexibles para satisfacer los requisitos únicos de tu proyecto. Desde paquetes personalizados hasta contenedores a granel, tenemos todo lo que necesitas. Con nuestra dedicación tanto a la calidad como a la asequibilidad, puedes estar seguro de que recibirás un producto superior que cumpla con tus especificaciones exactas.
      </div>
    </div>
  </div>


  <div class="d-flex container">
    <button class="btn-collapse" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="true" aria-controls="multiCollapseExample1">Cualidades:</button>
    <button class="btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Apropiado para:</button>
  </div>

  <div class="row justify-content-center">

    <div class="collapse multi-collapse show" id="multiCollapseExample1">
      <div class="card card-body">
        <p class="card-body-p">
          <%= @product.qualities %>
        </p>
      </div>
    </div>


    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <p class="card-body-p">
          <%= @product.suitables %>
        </p>
      </div>
    </div>
  </div>
</section>
